mchelper:
  # Number of threads available for commands and regex listeners to use.
  # Also used for other concurrent operations.
  command-threads: 2
  # Whether to record command runtime stats into the `statistics` SQL table.
  # Requires the database below, otherwise this does nothing.
  record-stats: true
  # Database configuration. Postgres is the only supported DBMS.
  # Comment out this entire block to disable database functionality.
  # Commands that rely on the database won't be created.
  database:
    # https://jdbc.postgresql.org/documentation/use/
    url: jdbc:postgresql://127.0.0.1:5432/postgres?currentSchema=public
    username: mchelper
    password: password
    # Number of connections the pool should have. See HikariConfig#setMaximumPoolSize
    pool-size: 2
  # Discord bot token. Get one from https://discord.com/developers/applications.
  discord.token: null
  # Owlbot token. For defining words. As of 2024-01-07 this service appears to be down.
  owlbot.token: null
  # Finnhub token. For stock information.
  finnhub.token: null
  # Darksky-compatible token. For fetching weather information
  darksky.token: null
  endpoints:
    # The tarkov.tools compatible GraphQL endpoint. Currently, tarkov.dev is the active one.
    # Used to fetch Tarkov item information.
    tarkov-tools: https://api.tarkov.dev/graphql
  # For uploading messages over 2k characters to a pastebin.
  # pastegg is the only supported backend.
  pastegg:
    # Base API, for uploading pastes.
    api-url: https://api.paste.gg
    # Base URL, for linking pastes.
    base-url: https://paste.gg/
    # Optional API key. Useful if you want to keep a list of pastes to audit/delete.
    api-key: null
  # List of bot owner IDs. They can run elevated commands, bypass command ratelimits, and
  # set owner-restricted guild configurations, et al.
  # Separate by comma, YAML lists aren't currently supported.
  owners: your_id_here
  # Which URLs the Twitter/X regexable will use, for better embeds than what Twitter/X provides.
  twitter-regexable:
    twitter-embed-domain: vxtwitter.com
    nitter-domain: nitter.poast.org
  # For Prometheus metrics. See OTel#meter
  metrics:
    enabled: true
    # The port to listen on for Prometheus to scrape metrics from.
    port: 9092
  slash-commands:
    # A CSV list of guilds to register slash commands with. If this is configured, global slash commands won't be created.
    dev-guilds: 123456789012346578
    # How long to wait to defer the slash command response. Discord gives three seconds, so tune a bit lower than
    # that accounting for latency and other unknowns.
    deferment-wait-millis: 2000
