<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss:SSS} %highlight(%-5level) [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HTML" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <pattern>%date%level%thread%logger%msg</pattern>
            </layout>
        </encoder>
        <file>log.html</file>
        <append>false</append> <!-- wipe it on startup, so we can get only the session's via command -->
    </appender>

    <logger name="com.merakianalytics.orianna.datapipeline.common.HTTPClient" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="HTML"/>
    </root>
</configuration>